name: Deploy Pre-Built Docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy-docs:
    name: Deploy Docs
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v6

      # 2. Deploy to GitHub Pages
      - name: Deploy pre-built docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
